aiohttp
ariadne==0.26.2
websockets==15.0.1
asyncpg==0.30.0
fastapi==0.115.12
sqlalchemy==2.0.40
uvicorn==0.34.2
psycopg2-binary==2.9.10

grpcio==1.64.0
grpcio-tools==1.64.0
protobuf==5.27.0
msgpack==1.0.7

PyJWT==2.8.0
python-dotenv==1.0.1
requests==2.31
